body {
  display: flex;
  flex-direction: column;
  /* justify-content:center ; */
  /* align-items: center; */
  height: 100vh;
  margin:0;

  background-color: aliceblue;
}

h1 {
  top: 10vh;
  text-align: center;
}
#result-text{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#result{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#update-time{
    
    font-weight: 300;
    font-size: 0.75rem;
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  text-align: center;
  height: 20vh;
  /* width: 100vw; */
  background-color: rgb(233, 233, 233);
  padding: 15px;
  margin: 10px 0 10vh 0;
}

#container {
  min-height:60vh ;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content:  center; */
}
#input-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
  margin: 0 10vw;
}
#input-amount {
    text-align: center;
  padding: 10px 0;
  width: 100%;
  border-radius: 15px;
  margin: 0 0 15px 0;
}

#dropdowns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
#dropdowns select {
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}
#convert-btn {
  padding: 10px;
  border-radius: 15px;
  width: 100%;

  color: aliceblue;
  background-color: rgb(32, 97, 238);

  font-size: 7vw;
}

@media (width > 576px) {
  #convert-btn {
    font-size: large;
  }
  #input-container {
     
    margin: 0 20vw;
}
}